body{
	background: #cecece;
}
.bob {
	top: 25px;
	height: 480px;
	background: rgb(255,242,10);
}
.ojos {
	border: 5px solid black;
	background: white;
	height: 140px;
	top: 85px;
	border-radius: 50%; 
}
.ojo-a {
	right: -8px;
}
.ojo-b {
	left: -8px;
}
.iris {
	border: 2px solid black;
	top: 30px;
	height: 72px;
	border-radius: 50%;
	left: 19px;
	background: rgb(94,145,255);
}
.pupila {
	top: 18px;
	height: 29px;
	border-radius: 50%;
	left: 5px;
	background: black;
}

.camisa, .pantalones {
	height: 80px;
	top: 310px;
	background: white;
}

.pantalones{
	top: 309px;
	background: rgb(119,57,15);
}
.cinturon {
	background: rgb(119,57,15);
	top: 35px;
}
.broches{
	background: black;
	height: 17px;
}
